body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#5680E9,#84CEEB,#5AB9EA);
    background-repeat: none;
    color: #FAED26;
}

h1 {
    
    margin-bottom: 0;
    padding: 2%;
    align-items: center;
}

p {
    font-size: 20px;
    padding: 2%;
}

button {
    padding: 1%;
}

.top {
    text-align: center;
    margin-bottom: 2%;
}

.gridButtons {
    
    padding: 4%;
    display: flex;
    justify-content: space-around;
}

.container {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    background: #8860d0;
}